<footer class="text-center">
  <div class="upperFooter">
    <div class="container pt-2">
      <div class="row pt-5 pb-2">
        <div class="col-lg-3 col-6 flex-column">
          <p class="bolder">Get to Know Us</p>
          <p>About Markety</p>
          <p>Careers</p>
        </div>
        <div class="col-lg-3 col-6 flex-column">
          <p class="bolder">Shop with Us</p>
          <p>Your Account</p>
          <p>Your Orders</p>
        </div>
        <div class="col-lg-3 col-6 flex-column">
          <p class="bolder">Make Money with Us</p>
          <p>Sell on Markety</p>
          <p>Fulfillment by Markety</p>
        </div>
        <div class="col-lg-3 col-6 flex-column">
          <p class="bolder">Let Us Help You</p>
          <p>Help</p>
          <p>Shipping & Delivery</p>
          <p>Returns & Replacements</p>
          <p>Amazon App Download</p>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <div class="container">
        <p class="h1 pb-3 text-center mb-0">Markety</p>
      </div>
    </div>
  </div>
  <div class="lowerFooter">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-3 d-flex flex-column mb-3 col-6">
          <div class="d-flex flex-column mb-3">
            <p class="bolder">Sell on Markety</p>
            <p>Sell globally, start with UAE</p>
          </div>
          <div class="d-flex flex-column mb-3">
            <p class="bolder">IMDb</p>
            <p>Movies, TV & Celebrities</p>
          </div>
        </div>
        <div class="col-lg-3 d-flex flex-column mb-3 col-6">
          <div class="d-flex flex-column mb-3">
            <p class="bolder">Sell on Amazon.sa</p>
            <p>Sell globally, start with Saudi Arabia</p>
          </div>
          <div class="d-flex flex-column mb-3">
            <p class="bolder">Alexa</p>
            <p>Actionable Analytics
              for the Web</p>
          </div>
        </div>
        <div class="col-lg-3 d-flex flex-column mb-3 col-6">
          <div class="d-flex flex-column mb-3">
            <p class="bolder">Amazon Web Services</p>
            <p>Scalable Cloud
              Computing Services</p>
          </div>
          <div class="d-flex flex-column mb-3">
            <p class="bolder"> Book Depository</p>
            <p>Books With Free
              Delivery Worldwide</p>
          </div>
        </div>
        <div class="col-lg-3 d-flex flex-column mb-3 col-6">
          <div class="d-flex flex-column mb-3">
            <p class="bolder">Goodreads</p>
            <p>Book reviews
              & recommendations</p>
          </div>
          <div class="d-flex flex-column mb-3">
            <p class="bolder"> Shopbop</p>
            <p>Designer
              Fashion Brands</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex last pb-3">
      <a>Conditions of Use & Sale</a>
      <a>Privacy Notice</a>
      <a>Interest-Based Ads</a>
      <p>© 1996-2021, Amazon.com, Inc. or its affiliates</p>
    </div>
  </div>
</footer>
