.image{
  height: 400px;
  width: 80%;
  cursor: pointer;
}
.prod{
  min-height: 700px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
*{
  color: black !important;
}
h3{
  height: 130px;
}
